{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    <p>EmberCatchr</p>
    {{audio-player}}
    {{#async-paper-button action=(action "getLatestPods") as |animating|}}
      {{paper-icon "sync" spin=animating}}
    {{/async-paper-button}}
  </div>
{{/paper-toolbar}}
{{#paper-content}}
{{outlet}}
{{/paper-content}}
